In [1]:
# data analysis
import pandas as pd
import numpy as np

# visualization
import matplotlib.pyplot as plt
import seaborn as sns
from pyampute.exploration.md_patterns import mdPatterns
from pyampute.exploration.mcar_statistical_tests import MCARTest
import missingno as msno


# preprocessing
import sklearn.utils.validation
import sys
from scipy import stats
from scipy.stats import shapiro
from scipy.stats.mstats import winsorize
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer, SimpleImputer
from sklearn.preprocessing import StandardScaler, PowerTransformer, QuantileTransformer, MinMaxScaler, KBinsDiscretizer, Binarizer, PolynomialFeatures, LabelEncoder, OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer, make_column_selector
from feature_engine.outliers import Winsorizer
# from imblearn.over_sampling import SMOTE, SMOTENC
from sklearn.pipeline import Pipeline
from sklearn import set_config


# Modeling
from sklearn import linear_model

In [7]:
X_train = pd.read_csv(
    filepath_or_buffer = "../data/processed/X_train_linear.csv"
)
X_train.head(1)

,numeric__person_age,numeric__person_income,numeric__person_emp_length,numeric__loan_amnt,numeric__loan_int_rate,numeric__loan_percent_income,numeric__cb_person_cred_hist_length,categorical__person_home_ownership_MORTGAGE,categorical__person_home_ownership_OTHER,categorical__person_home_ownership_OWN,...,categorical__loan_grade_D categorical__loan_grade_E,categorical__loan_grade_D categorical__loan_grade_F,categorical__loan_grade_D categorical__loan_grade_G,categorical__loan_grade_D categorical__cb_person_default_on_file_True,categorical__loan_grade_E categorical__loan_grade_F,categorical__loan_grade_E categorical__loan_grade_G,categorical__loan_grade_E categorical__cb_person_default_on_file_True,categorical__loan_grade_F categorical__loan_grade_G,categorical__loan_grade_F categorical__cb_person_default_on_file_True,categorical__loan_grade_G categorical__cb_person_default_on_file_True
0,0.401371,-0.711319,0.308085,0.437175,-0.033241,1.134027,1.212243,1.19222,-0.055634,-0.294188,...,0.0,0.0,0.0,-0.246752,0.0,0.0,-0.119614,0.0,-0.05986,-0.035776

In [8]:
X_test = pd.read_csv(
    filepath_or_buffer = "../data/processed/X_test_linear.csv"
)
X_test.head(1)

,numeric__person_age,numeric__person_income,numeric__person_emp_length,numeric__loan_amnt,numeric__loan_int_rate,numeric__loan_percent_income,numeric__cb_person_cred_hist_length,categorical__person_home_ownership_MORTGAGE,categorical__person_home_ownership_OTHER,categorical__person_home_ownership_OWN,...,categorical__loan_grade_D categorical__loan_grade_E,categorical__loan_grade_D categorical__loan_grade_F,categorical__loan_grade_D categorical__loan_grade_G,categorical__loan_grade_D categorical__cb_person_default_on_file_True,categorical__loan_grade_E categorical__loan_grade_F,categorical__loan_grade_E categorical__loan_grade_G,categorical__loan_grade_E categorical__cb_person_default_on_file_True,categorical__loan_grade_F categorical__loan_grade_G,categorical__loan_grade_F categorical__cb_person_default_on_file_True,categorical__loan_grade_G categorical__cb_person_default_on_file_True
0,1.472769,0.188676,1.134904,-0.739835,-0.982623,-0.915386,1.455922,1.19222,-0.055634,-0.294188,...,0.0,0.0,0.0,-0.246752,0.0,0.0,-0.119614,0.0,-0.05986,-0.035776

In [9]:
y_train = pd.read_csv(
    filepath_or_buffer = "../data/interim/y_train.csv"
)
y_train.head(1)

   loan_status
0        False

In [10]:
y_test = pd.read_csv(
    filepath_or_buffer = "../data/interim/y_test.csv"
)
y_test.head(1)

   loan_status
0        False