In [2]:
# data analysis
import pandas as pd
import numpy as np

# visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
credit_risk_dataset = pd.read_csv(
    filepath_or_buffer = "../data/interim/credit_risk_dataset_prepped.csv"
)

### Missing Values

#### Re-Identifying Missing Values

In [6]:
credit_risk_dataset.isna().sum()

Unnamed: 0                       0
person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              887
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3094
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [7]:
credit_risk_dataset.isna().sum()/len(credit_risk_dataset)

Unnamed: 0                    0.000000
person_age                    0.000000
person_income                 0.000000
person_home_ownership         0.000000
person_emp_length             0.027369
loan_intent                   0.000000
loan_grade                    0.000000
loan_amnt                     0.000000
loan_int_rate                 0.095467
loan_status                   0.000000
loan_percent_income           0.000000
cb_person_default_on_file     0.000000
cb_person_cred_hist_length    0.000000
dtype: float64

In [ ]:
credit_risk_dataset.isna().all(axis=1).sum()

np.int64(0)

In [16]:
credit_risk_dataset.isna().all(axis=0).sum()

np.int64(0)

In [13]:
credit_risk_dataset[credit_risk_dataset.isna().any(axis=1)]

,Unnamed: 0,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
38,39,23,71500,RENT,3.0,DEBTCONSOLIDATION,D,30000,NaN,True,0.42,False,4
49,50,24,78000,RENT,4.0,DEBTCONSOLIDATION,D,30000,NaN,True,0.38,True,4
56,57,23,277000,OWN,3.0,PERSONAL,A,35000,NaN,False,0.13,False,4
58,59,24,12000,OWN,2.0,VENTURE,E,1750,NaN,False,0.15,True,3
61,62,26,263000,MORTGAGE,0.0,EDUCATION,B,10000,NaN,True,0.04,False,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32375,32547,53,4888,OWN,0.0,VENTURE,C,1400,NaN,True,0.29,True,28
32380,32552,65,45900,RENT,2.0,EDUCATION,C,10000,NaN,False,0.22,True,19
32381,32553,54,20000,RENT,2.0,MEDICAL,C,5000,NaN,False,0.25,False,28
32397,32569,51,60000,MORTGAGE,1.0,PERSONAL,A,7500,NaN,False,0.13,False,23
32398,32570,58,72000,RENT,5.0,HOMEIMPROVEMENT,B,4500,NaN,False,0.06,False,23